//Footer

.footer {
    background-color: rgb(134, 134, 134);
}

.footer__text {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    color: #fff;
}